@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


* {
    /* font-style: jet; */
    font-family: "JetBrains Mono", serif;

}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #39d881;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,

  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

@media screen and (max-width:1162px) {
    p {
        font-size: .7rem;
    }

    .main-container {
        flex-direction: column;

    }
}

@media screen and (max-width: 430px) {
    p {

        font-size: .7rem;
    }

    .theRealMainTodo {
        flex-direction: column;
    }

    .description {
        width: 70% !important;
    }
}

@media screen and (max-width:375px) {
    .mainContainer {
        flex-direction: column;
        overflow: scroll;
        justify-content: flex-start !important;

    }

    .weatherApps {
        background-color: red;
        width: 70vw !important;

    }

    .description {
        width: 70vw !important;
    }

    .homeContainer {
        margin-top: 20px;
        align-items: center;
    }

    .todolabel {
        white-space: normal !important;
        text-align: center;
    }
    .theRealMainTodo {
        justify-content: flex-start !important;
        overflow: scroll;
        padding: 0 20px;
    }

}

/* ::-webkit-scrollbar { // for hiding scroll
    display: none;
  } */
   
 /* for initialize fontsize
  
  div, 
  span, 
  label,
  input,
  button,
  textarea {
    font-size: initial;
  } */

/* 
  for calculated font sizes or image
  :root {
    font-size: calc(100vw /(720 / 100)) !important;
  } */

  @tailwind base;
@tailwind components;
@tailwind utilities;
